<!DOCTYPE HTML>
<html>

<head>
    <title>Admin CFDI</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/skins/material.css' %}" >
    <script type="text/javascript" src="{% static 'js/webix_debug.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/es-MX.js' %}" ></script>

    {%block media %}{% endblock %}

</head>

<body>

<script type="text/javascript" charset="utf-8">
webix.debug = true;
</script>

{%block contenido %}{% endblock %}

</body>

</html>
