{% extends 'base.html' %}

{%block contenido%}

<form id='form_login'>
    {% csrf_token %}
    <div id="form"></div>
</form>

<script type="text/javascript" charset="utf-8">

var form_controls = [
    { view: "text", label: "Usuario", name: "user", labelPosition: "top", required: true, invalidMessage: "El usuario es requerido" },
    { view: "text", label: "Contraseña", name: "pass", type: "password", required: true, labelPosition: "top", invalidMessage: "La contraseña es requerida" },
    { margin: 10, cols:[
        {},
        { view: "button", value: "Iniciar Sesión" , click: "validate_data"},
        {},
    ]}
];

function validate_data(){
    var form = this.getFormView();

    if (!form.validate()) {
        webix.message({ type:"error", text:"Valores inválidos" });
        return
    }

    var values = form.getValues();
    var token = document.getElementById("form_login").elements.item(0).value;
    values['csrfmiddlewaretoken'] = token;

    webix.ajax().post("/", values, function(text, data, xhr) {
        var values = data.json();
        if (values.login) {
            if (values.is_super) {
                window.location = "/admin";
            } else {
                window.location = "/main";
            }
        } else {
            webix.message({ type:"error", text: values.msg });
        }
    });
};

webix.ui({
    rows: [
    { maxHeight: 20 },
    { view: "template", template: "Bienvenido a Admin CFDI", maxHeight: 50, css: "login_header" },
    { maxHeight: 50 },
    {cols: [
        {},
        {
        type: "space",
        padding: 5,
        rows: [
            { view: "template", template: "Acceso al sistema", type: "header" },
            {
                container: "form",
                view: "form",
                id: "form_login",
                width: 500,
                elements: form_controls,
                rules:{
                    user:function(value){ return value.trim() != ""; },
                    pass:function(value){ return value.trim() != ""; },
                }
            },
        ]
        },
        {},
        ]
    },
    ]
});

</script>

{% endblock%}
